/* 住所変更画面 */
.address-container {
    max-width: 680px;
    margin: 20px auto;
}

.address-title {
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 70px;
    color: #000;
}

.form-group {
    margin-bottom: 50px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.form-input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #5F5F5F;
    border-radius: 8px;
    font-size: 16px;
}

.update-btn {
    width: 100%;
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.update-btn:hover {
    background-color: #e63939;
}

.back-link {
    text-align: center;
    margin-top: 30px;
}

.back-link a {
    color: #0066ff;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}
